body
{
  background-color: #f2f2f2;
}
h1
{
  font-family: arial;
  font-size: 4em;
}
h2
{
  font-family: arial;
  font-size: 3em;
}
h3
{
  font-family: arial;
  font-size: 2em;
}
h4
{
  font-family: arial;
  font-size: 1.3em;
}
p
{
  font-size: 1.2em;
}
