.Info-container
{
  width: 90%;
  margin: 10px auto 0px auto;
  padding: 10px;
  border-top: 1px solid grey;
}

.info-button
{
  width: 125px;
  height: 40px;
  background: linear-gradient(#A81D1D, #800000);
  margin: 20px 0px;
  border-radius: 5px;
  border: 2px solid #800000;
  cursor: pointer;
  display: inline-block;
}

.info-button:hover
{
  background: linear-gradient(#800000, #A81D1D);
}

.info-enter
{
  font-size: 25px;
  height: 100%;
  color: white;
}

.info-button-edit
{
  width: 80px;
  height: 40px;
  background: linear-gradient(#e0e0e0, #bcbcbc);
  color: black;
  margin: 20px 0px;
  border-radius: 5px;
  border: 2px solid #7c7c7c;
  cursor: pointer;
  display: inline-block;
}

.info-button-edit:hover
{
  background: linear-gradient(#bcbcbc, #e0e0e0);
}

.info-edit
{
  font-size: 25px;
  height: 100%;
  color: #7c7c7c;
}
