.map-pac-selecter
{
  position: absolute;
  top: 54%;
  right: 68%;
  height: 33%;
  width: 16%;
}
.map-pac-selecter :hover
{
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.map-senior-selecter
{
  position: absolute;
  top: 49%;
  right: 23%;
  height: 43%;
  width: 21%;
}
.map-senior-selecter :hover
{
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.map-athletic-selecter
{
  position: absolute;
  top: 52%;
  right: 5%;
  height: 46%;
  width: 25%;
}
.map-athletic-selecter :hover
{
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.map-softmore-selecter
{
  position: absolute;
  top: 50%;
  right: 49%;
  height: 34%;
  width: 24%;
}
.map-softmore-selecter :hover
{
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.map-selecter-container
{
  position: relative;
  background-image: url("/images/Copy of overview.jpg");
  background-size: 100% 100%;
  height: 70vh;
  width: 90%;
}

.map-seniorlot-container
{
  position: relative;
  left: -20%;
  top: -10%;
  background-image: url("/images/1600.png");
  background-size: 100% 100%;
  height: 120%;
  width: 120%;
  min-width: 800px;
}

.map-softmorelot-container
{
  position: relative;
  left: -16%;
  top: 0px;
  background-image: url("/images/1200.png");
  background-size: 100% 100%;
  height: 100%;
  width: 140%;
  min-width: 800px;
}

.map-athleticlot-container
{
  position: relative;
  left: 0%;
  top: 0px;
  background-image: url("/images/athletic.png");
  background-size: 100% 100%;
  height: 120%;
  width: 125%;
  min-width: 800px;
}

.map-paclot-container
{
  position: relative;
  left: -10%;
  top: 0px;
  background-image: url("/images/pac.png");
  background-size: 100% 100%;
  height: 100%;
  width: 130%;
  min-width: 800px;
}

.map-crop
{
  overflow: hidden;
  height: 70vh;
  width: 100%;
}

.map-back
{
  background: rgba(165, 173, 186, .8);
  border: 2px solid #a5adba;
  color: #636870;
  width: 100px;
  height: 35px;
  font-size: 150%;
  font-family: arial black;
  padding: 0px;
}

.map-hover
{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.map-hover :hover
{
  opacity: .8;
  cursor: pointer;

}

.map-overflow
{
  overflow: auto;
  position: relative;
  left: 0px;
  top: 0px;
  width: 90%;
}

.map-button
{
  background-color: rgba(232, 232, 232, .5);
  border: 2px solid #a0a0a0;
  position: absolute;
  border-radius: 2px;
  top: 51%;
  left: 50.6%;
  width: 1.2%;
  height: 3.4%;
}

.map-button:hover
{
  border-color: #800000;
}

.map-popup
{
  display: none;
  position: absolute;
  top: -55px;
  left: -16px;
  width: 100px;
  height: 59px;
  background-image: url("/images/popup.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.map-popup > div
{
  padding: 12px 14px 10px 9px;
  font-family: arial black;
  font-size: 20px;
  color: #490000;
}

.map-car
{
  position: absolute;
}
